/* font-family: 'Dancing Script', cursive;
font-family: 'Ropa Sans', sans-serif;

/* home and others */

html{
    height: -webkit-fill-available;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #272323;
    font-family: 'Ropa Sans', sans-serif;
    height: 100vh;
    height: -webkit-fill-available;

}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background:#dbe9e1 ;
}
body::-webkit-scrollbar-thumb {
    background:#69a281;
}

a{
    color: #272323;
    text-decoration: none;
    
}


header{
    display: flex;
    background-color: #83B799;
    text-align: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    position: relative;
}


h1{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
}

h2{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 2.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    font-style: italic;
}

.nav-list{
    position: absolute;
    top: 3rem;
    right: 1rem;
    text-align: right;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
#nav-bar-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
}
.hidden{
    display: none;
}
.nav-list ul{
    background-color:#69a281;
    border: 2px solid white;
    border-radius: 10px;
    text-shadow: 0 0 1 black;
    font-weight: 900;    
    font-size: 1rem;
    margin: 0;
    padding: 0;
    padding: 5px 8px 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.nav-list li{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    padding: 0.125rem;
}

nav ul{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: #69a281;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}
nav li{
    list-style: none;
}
article{
    border: #272323 2px solid;
    height: 50vh;
    margin: 1rem;
}

/* HOME */

#home-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-header-logo{
    font-family: 'Dancing Script', cursive;
    clip-path: circle(2.39rem);
    background-color: white;
    padding: 2.5rem;
    font-weight: 650;
}

#home-nav{
    position: fixed;
    width: 100%;
    bottom: 0;
}
#home-nav li{
    font-size: 1rem;
    padding: 0.7rem 0;
}
#home-header-h2{
    text-align: center;
    font-size: 1.19rem;
    margin:0 40px;
}
 




/* BLOG PAGE */

#blog-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-title-blog {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 2.5rem;
    font-size: 1rem;
    clip-path: circle(2rem);
    background-color: white;
    font-weight: 650;
}

/* ABOUT PAGE */

#about-main{
    text-align: center;
}

#about-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-header-h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 2.5rem;
    font-size: 0.8rem;
    clip-path: circle(2rem);
    background-color: white;
    font-weight: 650;
}
.about-header-h2{
    font-size: 1rem;
}
.about-names{
    font-size: 1.3rem;
    font-weight: 700;
    color: #69a281;
}

/* contact */

#contact-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-heading{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 2.5rem;
    font-size: 0.9rem;
    clip-path: circle(2rem);
    background-color: white;
    font-weight: 650;
}


/* articles */

.articles{
    margin: 0 1rem;
}
.articles h1{
    font-size: 1.3rem;
}
.articles h2{
    font-size: 1.1rem;
}
.articles h3{
    font-size: 1rem;
}