/* font-family: 'Antic Didone', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Oranienbaum', serif;
font-family: 'Roboto Condensed', sans-serif; */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #272323;
    font-family: 'Nunito Sans', sans-serif;
}
header{
    color:#83B799;
    text-align: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    position: relative;
    border: 5px solid #83B799;
}


header h1{
    font-family: 'Oranienbaum', serif;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 3rem;
    
}
header h2{
    font-family: 'Antic Didone', serif;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 4rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-style: italic;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    color: white;
    background-color: #83B799;
    padding: 0;
    margin: 0;
}
li{
    font-size: 1.5rem;
}
article{
    width: 50%;
    height: 25rem;
    position: relative;
}
#test-article{
    margin-left: 2rem;
    margin-top: 2rem;
    background-image: url(../img/mountains-3661319.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#test-article2{
    position: absolute;
    right: 2rem;
    margin-top: 2rem;
    background-image: url(../img/mountains-3661319.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.article-title{
    background-color: rgba(255, 255, 255, 0.434);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.article-title h1, p{
    font-size: 1.7rem;
    padding: 0;
    margin:0;
    margin-left: 0.8rem;
}